<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.hello-world"
        version   = "2.0.0">
    <name>WhichBus</name>

    <description>
        A simple, beautiful way to navigate public transit.
    </description>

    <author href="http://whichbus.org" email="team@whichbus.org">
        WhichBus, LLC.
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/geolocation"/>

    <access origin="http://whichbus.org/" subdomains="true"/>
    

    <preference name="phonegap-version" value="2.1.0" />
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="handset" />
    <preference name="fullscreen"       value="false" />

    <icon src="res/icon/ios/icon_54x54.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="res/icon/ios/icon_72x72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="res/icon/ios/icon_114x114.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="icon.png" />

    <preference name="webviewbounce" value="false" />
    <preference name="detect-data-types" value="false" />
    <preference name="prerendered-icon" value="true" />

    <gap:splash src="res/screen/ios/iphone_portrait.png"    gap:platform="ios"     width="320" height="480" />
    <gap:splash src="res/screen/ios/iphone_portrait_2x.png" gap:platform="ios"     width="640" height="960" />
    <gap:splash src="res/screen/ios/ipad_portrait.png"      gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="res/screen/ios/ipad_landscape.png"     gap:platform="ios"     width="1024" height="768" />
    <gap:splash src="res/screen/ios/iphone5_portrait.png"     gap:platform="ios"     width="640" height="1136" />
    <gap:splash src="res/screen/android/android-ldpi-portrait.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="res/screen/android/android-mdpi-portrait.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="res/screen/android/android-hdpi-portrait.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="res/screen/android/android-xhdpi-portrait.png" gap:platform="android" gap:density="xhdpi" />
    
</widget>
